@import url('./_variables.css');

:root {
  --header-height: 3rem;
  --footer-height: 3rem;
}

body {
  font-size: clamp(16px, 4vw, 24px);
  font-family: 'Amiko', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--green);
}

.map__marker__popup {
  font-family: 'Amiko', sans-serif;
}
